{% extends 'main/layout.html' %}

{% block title %}News{% endblock %}
{% block body %}

<center>
    <h1>News</h1>

                {% for new in object_list %}
                    <div class="news">
                        <h2>Name state: {{ new.name }}</h2>
                        <h4>Anons: {{ new.anons }}</h4>
                        <p>Data :{{ new.data }}</p>
                        <a class="btn btn-success" href="{% url 'news-detail' new.id %}">Перейти к новости</a>


                    </div>
                {% endfor %}

</center>

{% endblock %}